table {
    width: 100%;
    margin-top: 20px;
}

th {
    height: 30px;
    background-color: rgb(48, 96, 201);
}

td {
    font-size: 18px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    border-top: 0px;
}

tr:nth-child(even) {
    background-color: #fdb3b3;
}

tr:nth-child(odd) {
    background-color: #ffd5d5;
}

