.fillupform {
    /*border: 1px black solid;*/
    background-color: rgba(255, 202, 235, 0.151);
    height: 600px;
    width: 800px;
    margin: 0 auto;
}

h2 {
    
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

form {
    margin-top: 50px;
}

.inputs {
    display: flex;
    width: 700px;
    height: 50px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 20px;
}

#password {
    width: 600px;
    border: none;
}

input {
    font-size: 20px;
    height: 100%;
    width: 100%;
    padding-left: 5px;
    border: none;
}

#input {
    width: 450px;
    border: 1px black solid;
    display: flex;
}

#eye1 {
    opacity: 50%;
    height: 30px;
    margin-top: 8px;
}

#eye2 {
    opacity: 50%;
    height: 30px;
    margin-top: 8px;
    display: none;
}

#eye1:hover,
#eye2:hover {
    opacity: 100%;
}

#label {
    font-size: 25px;
    padding-top: 10px;
    width: 200px;
    text-align: right;
}

.buttons {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#error {
    font-size: 20px;
    color: red;
    padding-left: 40%;
    margin: 0 auto;
    width: 600px;
    margin-top: 10px;
}

select {
    border: none;
    font-size: 20px;
    height: 100%;
    width: 450px;
    padding-left: 5px;
}

#cancel {
    background-color: rgb(248, 117, 117);
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px black solid;
    margin-left: 250px;
    width: 220px;
    text-align: center;
}

#submit {
    background-color: rgb(50, 250, 157);
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px black solid;
    width: 220px;
    text-align: center;
}

#cancel:hover {
    background-color: rgb(230, 8, 8);
}

#submit:hover {
    background-color: rgb(0, 187, 25);
}